body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/745029103191337.5f478ca02cacb.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.nav-container {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  padding: 0px 20px 0px 50px;
}

.nav-link {
  color: aliceblue;
  text-decoration: none;
  margin: 5px;
  padding-right: 10px;
}

.nav-link:hover {
  color: blue;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

input {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.1em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1rem;
  color: rgb(21, 19, 20);
  margin: 10px 1em;
  border-radius: 4px;
}

.search-input {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.4em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: rgb(21, 19, 20);
  margin: 10px 1em;
  border-radius: 4px;
}

input:hover {
  background-color: rgb(203, 231, 255);
}

.search-btn {
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5em 1em;
  margin: 10px, 0px, 10px, 0px;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgb(0, 64, 255);
}

.title {
  font-size: 3em;
}

.products-title {
  font-size: 2em;
}

.product-card {
  max-width: 275px;
  max-height: 250px;
  border-radius: 16px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0px 0px 5px 0px;
  text-decoration: none;
}

.product-card:hover {
  opacity: 0.8;
}

.product-card .product-img {
  width: auto;
  height: 150px;
}

.product-card img {
  width: 100%;
  height: 180px;
  margin: 11px 5px 5px 0px;
}

.product-card .product-info {
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  margin: 15px 5px 10px 0px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.container-grid {
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 3em;
  justify-content: center;
  margin-bottom: 5%;
}

.cartbtn {
  background-color: rgb(0, 145, 255);
  font-family: 'Courier New', Courier, monospace;
  padding: 0.2em;
  border-radius: 8px;
  height: 4em;
  margin: 18px 0px 10px 10px;
  cursor: pointer;
}

.about {
  margin: 3%;
  font-size: 1.4em;
}

.about-us {
  padding: 1.7em;
  padding-right: .05em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.josh {
  max-width: 25%;
  max-height: 25%;
  border-radius: 50%;
  border: 2px solid black;
}

.github {
  border-radius: 50%;
}

.details-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 3.5em 0;

}

.details-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.details-img {
  margin: auto;
  text-align: center;
  width: 475px;
  height: 350px;
  border-radius: 16px;
  border: 2px solid black;
  background-color: white;
}

.details-description {
  margin: 2em;
}

.update-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.homebtn {
  margin-top: 2%;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: white;
  color: black;
  border: solid black 2px;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 1%;
  padding: 0.5em;
}

.button:hover {
  background-color: rgb(0, 64, 255);
}

.loginbtn {
  font-family: 'Courier New', Courier, monospace;
}

.switchbtn {
  font-family: 'Courier New', Courier, monospace;
}

.cart-card {
  max-width: 275px;
  max-height: 250px;
  border-radius: 16px;
  border: 2px solid black;
  background-color: white;
  margin: 0px 0px 5px 0px;
  text-decoration: none;
}

.cart-img img {
  width: 100%;
  height: 180px;
  margin: 11px 5px 5px 0px;
}

.cart-grid {
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 7em;
  justify-content: center;
  margin-bottom: 5%;
}

.please-login {
  color: white;
}